body {
    background-color: bisque;
}
li {
    font-size: medium;
    font-style: italic;
    font-weight: normal;
}
h2 {
    text-decoration: underline;
}
.bold {
    font-weight: bold;
    font-style: normal;
}
.underline {
    text-decoration: underline;
}